<!DOCTYPE web-app PUBLIC
  '-//Sun Microsystems, Inc.//DTD Web Application 2.3//EN'
  'http://java.sun.com/dtd/web-app_2_3.dtd'>
<web-app>
  <servlet>
    <servlet-name>Regex</servlet-name>
    <servlet-class>RegexServerlet</servlet-class>
  </servlet>

  <servlet-mapping>
    <servlet-name>Regex</servlet-name>
    <url-pattern>/Regex</url-pattern>
  </servlet-mapping>
</web-app>